<!--  ==========================================================================
Author: BAMADEB UPADHYAYA
Create date:  07/10/2017
Description:  Change password page
=============================================================================  -->

<section class="container content-section text-center">
  <h3 align="center">Change Password <span> <a ng-click="historyBack()" style="color:##008cc9;float: right;font-size: 12px; cursor: pointer;">Back</a></span> </h3>

  <div class="row" align="center">
    <div  class="voca"  style="width: 60%;" >
     <form name="cngForm" ng-submit="changepsw(cngForm)" novalidate> 

      <div class="form-group">
        <input type="password" class="form-control" name="oldpassword" ng-model="datainfo.oldpassword" placeholder="Old password"  required>
      </div>      

      <div ng-messages="cngForm.oldpassword.$err" ng-if="cngForm.oldpassword.$invalid && !cngForm.oldpassword.$pristine">
      <div ng-message="required" style="color:red;font-size:14px;text-align: left;">Old password is required !</div>
      </div> 

      <div class="form-group">
        <input type="password" class="form-control" name="newpassword" ng-model="datainfo.newpassword" placeholder="New password"  required>
      </div>      

      <div ng-messages="cngForm.newpassword.$err" ng-if="cngForm.newpassword.$invalid && !cngForm.newpassword.$pristine">
      <div ng-message="required" style="color:red;font-size:14px;text-align: left;">New password is required !</div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" name="confirmpassword" ng-model="datainfo.confirmpassword" placeholder="Confirm password"  required>
      </div>      

      <div ng-messages="cngForm.confirmpassword.$err" ng-if="cngForm.confirmpassword.$invalid && !cngForm.confirmpassword.$pristine">
      <div ng-message="required" style="color:red;font-size:14px;text-align: left;">Confirm password is required !</div>

      </div> 

      <div align="right">  
       <button [disabled]="loading" class="btn btn-primary" ng-disabled="cngForm.$invalid">Submit</button>  
      </div>
    </form>

</div>
</div>
</section> 

