<!-- <div ng-include="'include/top.html'"></div> -->
<!-- About Section -->
<section class="container content-section text-center">
<!--    <h2>COMPANY DASHBOARD</h2>-->    
<div class="row">
      
    <div class="box_size" align="center">
        <div class="box_space">
         <div class="box_inner"  ng-click="go_to_new_folower('following_me')">
           <div class="box1" style="background-color:#cc4da0;">
            <div> <span class="big_text">{{company_following_user_list.length}}</span> New Followers!</div>
            <div align="center"><img src="public/images/image3.png" class="icon_size"></div>
          <!--  <div> <span style="font-size:10px;"> Add more industries and skills to increase your presence.</span> </div>-->
           
        </div>
    </div>
    </div>
<div style="width:2%;float:left;"></div>
<div class="box_space">
 <div class="box_inner"  ng-click="go_to_new_folower('suggested')">
   <div class="box1" style="background-color:#ffc000;text-align:center;">
   <div> <span class="big_text" >{{suggeted_user_for_company_list.length}}</span> Talent Matches</div>
    <div align="center" class="img_position"><img src="public/images/image4.png" class="icon_size"></div>
<!--    <div> <span style="font-size:10px;"> Coming soon.</span> </div>
-->    
</div>
</div>


</div>


</div>

</div>


<div class="row">
   
<div class="box_size" align="center">
   
<div class="box_space">
         <div class="box_inner"  >
           <div class="box1">
            <div><span class="big_text">{{no_of_new_applicant.no_of_users}}</span> New Applicants</div>
          <div align="center" style="margin-top:10px;"><img src="public/images/img1.png" class="icon_size"></div>
        </div>
    </div>
</div>

<div style="width:2%;float:left;"></div>
<div class="box_space">
 <div class="box_inner" ng-click="go_to_active_jobs()">
   <div class="box1" style="background-color:#5b9bd5;">
    <div> <span class="big_text">{{jobpostlist.no_of_published_jobs}}</span> Active Jobs! </div>
     <div align="center" style="margin-top:30px;"><img src="public/images/image2.png" class="icon_size"></div>
</div>
</div>
</div>

</div>
<div class="clear"></div>
</div>
<div class="bottom_space"></div>
</section>
<div ng-include="'include/bottom.html'"></div>
