 <style>
td , th
{
	padding:0px 2px;
}
</style>

 <div style="background-color:#FFF;">

<section class="container content-section text-center">
<span> <a href="#!/user/profile//" style="color:##008cc9;float: right;font-size: 12px;">Back</a></span>
<br/>
  <h3 align="center">Manage Education </h3>
  <div class="row">
    <div  class="voca" >
     <form name="educationForm" ng-submit="addEducation(educationForm)" novalidate>  
     <!-- <div class="col-md-3">
       <multiselect ng-model="selection" options="options" selection-limit="2" id-prop="id" display-prop="name" show-search="true">
       </multiselect>
     </div> -->
      <div class="col-md-1" ng-if="userInfo_type == '1' "></div> 
      <div class="col-md-2" ng-if="userInfo_type == '2' "></div> 
      <div class="col-md-3">

       <select class="form-control" name="education_id" ng-model="educationinfo.education_id" ng-change="getsubeducation();" ng-options="education.type_id as education.type_name for education in educationdata" style="height:38px;border: 1px solid #008cc9;" ng-required='!educationinfo.othereducate' ng-disabled="educationinfo.othereducate" ng-value="true">
        <option value="">Select Degree/ Certification</option>
      </select> 
      <div ng-if="educationinfo.action == 'insert'">
        <input type="text" class="form-control" ng-model="educationinfo.othereducate" placeholder="Other Degree"  ng-required='!educationinfo.education_id' ng-value="true" ng-disabled="educationinfo.education_id">
      </div>
       <div ng-if="educationinfo.action == 'update'">
        <input type="text" class="form-control" ng-model="educationinfo.othereducate" placeholder="Other Degree"  ng-required='!educationinfo.education_id' ng-value="true" ng-disabled="educationinfo.education_id != '0'">
      </div> 
      <div ng-messages="educationForm.education_id.$err" ng-if="educationForm.education_id.$invalid && !educationForm.education_id.$pristine">
      <div ng-message="required" style="color:red;font-size:14px;text-align: left;">Degree/ Certification is required !</div>
      </div> 
    </div>

    <div class="col-md-4">
       <!-- <select class="form-control" name="subeducation_id" ng-model="educationinfo.subeducation_id"  ng-options="sub.type_id as sub.type_name for sub in subeducationlist" style="border: 1px solid #008cc9;" multiple="multiple">
        <option value="">Select Area of Study</option>
      </select> -->
       <div style="height:100px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px; text-align: left;">-Select Area of Study-  
          <div ng-repeat="sub in subeducationlist" ng-if="subeducationlist != '' "> 

             <input type="checkbox" value="{{sub.type_id}}" ng-checked="selection.indexOf(sub.type_id) > -1" ng-click="toggleSelection(sub.type_id)"> {{sub.type_name}}
          </div>
        </div>
       
      <div style="margin-top:5px;">
        <input type="text" class="form-control" ng-model="educationinfo.otherarea" placeholder="Other area">
      </div> 
       
    </div>
    <div class="col-md-3" ng-if="userInfo_type == '1' ">
       <select class="form-control" name="institute_id" ng-model="educationinfo.institute_id"  ng-options="institute.institute_id as institute.institute_name for institute in instituteList" style="height:38px;border: 1px solid #008cc9;" ng-disabled="educationinfo.otherinstitute" ng-value="true">
        <option value="">Select Institute</option>
      </select>       

       <div ng-if="educationinfo.action == 'insert'">
        <input type="text" class="form-control" ng-model="educationinfo.otherinstitute" placeholder="Other institute" ng-value="true" ng-disabled="educationinfo.institute_id">
      </div>
       <div ng-if="educationinfo.action == 'update'">
        <input type="text" class="form-control" ng-model="educationinfo.otherinstitute" placeholder="Other institute" ng-value="true" ng-disabled="educationinfo.institute_id != '0'">
      </div> 

      <div ng-messages="educationForm.institute_id.$err" ng-if="educationForm.institute_id.$invalid && !educationForm.institute_id.$pristine">
      <div ng-message="required" style="color:red;font-size:14px;text-align: left;">Institute is required !</div>
      </div> 
    </div>
    

    <input type="hidden" ng-model="educationinfo.users_id">
    <input type="hidden" ng-model="educationinfo.action">
    
   

<div class="col-md-1">  
 <button [disabled]="loading" class="btn btn-primary" ng-disabled="educationForm.$invalid">Submit</button>  
</div>
</form>

</div>

</div>
<div class="row" style="margin-top: 20px; ">
 <div class="col-md-1" > 

 </div>

</div>

</section>
<div class="container table-responsive" >

  <table class="table-bordered" width="100%">
    <thead>
      <tr>
        <th style="width: 35%;">Degree/ Certification</th>
        <th>Area of Study</th>
        <th ng-if="userInfo_type == '1' ">Institute</th>         
        <th style="width: 13%;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="educate in educationdatalist" ng-if="educationdatalist.length != ''">
        <td>{{educate.type_name}} {{educate.othereducate}}</td>         
<td><span ng-repeat="subEducation in educate.subEducation">{{subEducation.type_name}} | </span><span>{{educate.otherarea}}</span></td>
        <td ng-if="userInfo_type == '1' ">
          <span ng-if="educate.institute_name != '' ">{{educate.institute_name}}</span>
          <span ng-if="educate.otherinstitute != '' ">{{educate.otherinstitute}}</span>
        </td>
     <td style="cursor: pointer;"><a ng-click="editEducate(educate.id);">Edit</a> | <a ng-click="removeducate(educate.id);">Delete</a></td>
   </tr>
   <tr ng-if="!educationdatalist.length != ''">
      <td colspan="5" align="center">No record available.</td>
   </tr>

</tbody>
</table>
 <div class="bottom_space"></div>  
</div>

</div>