<style>
  .backsection
  {
    margin-bottom:10px;background-color:#ffffff;border:none;padding-bottom:10px;padding-top:10px;
  }
  .botton_12
  {
  width:50%;float:left;
  }
</style>
<!-- About Section -->
<div style="background-color:#edebeb;"> 
  <section class="content-section text-left">
    <div class="row"> </div>
  </section>


<section class="container">
  <div class="row backsection">
  
  
<div class="container">
  <!--<h2>Dynamic Tabs</h2>-->
  <ul class="nav nav-tabs">
    <li id="following_tab" ><a data-toggle="tab" data-target="#following">Following  <span ng-if="show_tab == 'following'"  ng-init="click_on_tab('following_tab', 'following')"></span> </a></li>
    
    <li id="following_me_tab" ><a data-toggle="tab" data-target="#following_me">Following Me <span ng-if="show_tab == 'following_me'"  ng-init="click_on_tab('following_me_tab', 'following_me')"></span></a></li>
    
    <!-- <li id="suggested_tab"  ><a data-toggle="tab" data-target="#suggested"> New <span  ng-if="show_tab == 'suggested'"  ng-init="click_on_tab('suggested_tab', 'suggested')"></span> </a></li> -->
    
  <!--   <li id="notviewed_tab" ><a data-toggle="tab" data-target="#notviewed"> Not Viewed  </a></li>
    <li id="viewed_tab"    ><a data-toggle="tab" data-target="#viewed"> Viewed </a></li> -->
    
  </ul>

  <div class="tab-content">
  	<br />

    <div id="following" class="tab-pane fade ">
   <!--  <div ng-if="user_following_company_list.length < 1"> -->
     
    <!-- </div>   -->
                <!-- <div id="following_company_id{{users.id}}" class="col-md-4 col-sm-12 col-xs-12 profile_details"  ng-repeat="users in user_following_company_list" >
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><i>{{users.users_firstname}}  {{users.users_lastname}}</i></h4>
                            <div class="left col-xs-7">                              
                              <p><strong>About: </strong> {{users.users_bio}} </p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"  aria-hidden="true"></i> Address: {{users.city_name}}, {{users.state_name}}, {{users.country_name}}</li>
                                <li><i class="fa fa-phone"></i> Phone #: {{users.users_phone}} </li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <img src="upload/{{users.users_profilepic}}" alt="" class="img-circle img-responsive">
                            </div>
                          </div>
                          <div class="col-xs-12 bottom_button text-center">
                            <div class="col-xs-12 col-sm-12 emphasis">
                            <span ng-if="users.viewing_company_id == '' ||  users.viewing_company_id == NULL ">
                              <button type="button" class="btn btn-success btn-xs"  ng-click="view_a_user_for_company( users.user_id )">
                               <i class="fa fa-comments-o"></i> View </button>
                             </span>
                            
                              <button type="button" class="btn btn-primary " ng-click="delete_following_company_for_user( users.id )">
                                <i class="fa fa-user"> </i> Unfollow
                              </button>
                            </div>
                          </div>
                        </div>
                      </div> -->

                      <div class="row">
                        <div id="following_company_id{{users.id}}" class="col-md-6"  ng-repeat="users in user_following_company_list" >      
                          <div class="panel panel-default  panel--styled">
                            <div class="panel-body" style="padding:10px 0px!important">
                              <div class="col-md-12 panelTop" > 
                                <div class="col-md-4">  
                                  <img class="img-responsive" src="upload/{{users.users_profilepic}}" alt="" style="width:120px;"/>
                                </div>
                                <div class="col-md-8" style="height:130px;">  
                                  <h3>{{users.users_firstname}}  {{users.users_lastname}}</h3>
                                   <span ng-if="users.users_current_employer != '' || users.users_current_title != '' ">{{users.users_current_employer}} | {{users.users_current_title}}</span>

                                   <div  class="blue">
                                    <span style="font-weight: bold;">{{users.localationlist[0].countryname}} </span>
                                      <span ng-repeat="state in users.localationlist[0].state | filter: query | limitTo:1" style="color: #666;font-size:14px;">({{state.statename}}), 
                                         <span ng-repeat="city in state.city | filter: query | limitTo:2" style="font-weight: normal;" >{{city.cityname}} | </span><span class="blue"  ng-click="view_a_user_for_company( users.user_id, 'following' )"><i>more...</i></span>
                                      </span>
                                  </div>
                                    
                                </div>                 
                                <div class="col-md-12" style="min-height:180px;"> 
                                  <!-- <p hm-read-more
                                  hm-text=" {{users.users_bio}} " 
                                  hm-limit="200" 
                                  hm-more-text="read more" 
                                  hm-less-text="read less"
                                  hm-dots-class="dots"
                                  hm-link-class="links">
                                </p> -->
                                  <div>{{users.users_bio | limitTo:250}}</div><span ng-if="users.users_bio != '' " style="color: #008cc9" ng-click="view_a_user_for_company( users.user_id, 'following' )">more</span>
                                  
                              </div>                                                
                              <div class="panelBottom">
                               <div class="botton_12 text-center">
                                <span>
                                   <button type="button" class="btn btn-success"  ng-click="view_a_user_for_company( users.user_id, 'following' )">
                                   <i class="fa fa-book"></i> Learn More </button>  
                                   </span>           
                                 </div>
                                <div class="botton_12 text-center">                
                                  <button type="button" class="btn btn-primary " ng-click="delete_following_company_for_user( users.id )">
                                    <i class="fa fa-user"> </i> Unfollow </button>                                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                       
                      </div>
                       <div>
                           <p style="margin:0px;">Follow talent back! Gain exposure and passively keep them engaged by posting news, events or meet-ups to your feed.  </p>
      <p style="margin:0px;">Hint - <a href="#!/user/profile//">Customize your profile to make a stronger first impression!</a></p>
                        </div>
      
    </div>
    <div id="following_me" class="tab-pane fade">
      
                <!-- <div class="col-md-4 col-sm-12 col-xs-12 profile_details"  ng-repeat="users in company_following_user_list" >
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><i>{{users.users_firstname}}  {{users.users_lastname}}</i></h4>
                            <div class="left col-xs-7">
                             
                              <p><strong>About: </strong> {{users.users_bio}} </p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"  aria-hidden="true"></i> Address: {{users.city_name}}, {{users.state_name}}, {{users.country_name}}</li>
                                <li><i class="fa fa-phone"></i> Phone #: {{users.users_phone}} </li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <img src="upload/{{users.users_profilepic}}" alt="" class="img-circle img-responsive">
                            </div>
                          </div>
                        </div>
                      </div> -->

                        <div class="row">
                        <div  class="col-md-6"  ng-repeat="users in company_following_user_list" >      
                          <div class="panel panel-default  panel--styled">
                              <div class="panel-body" style="padding:10px 0px!important">
                              <div class="col-md-12 panelTop" > 
                                <div class="col-md-4">  
                                  <img class="img-responsive" src="upload/{{users.users_profilepic}}" alt="" style="width:120px;"/>
                                </div>
                                <div class="col-md-8" style="height:130px;">  
                                  <h3>{{users.users_firstname}}  {{users.users_lastname}}</h3>
                                       <span ng-if="users.users_current_employer != '' || users.users_current_title != '' ">{{users.users_current_employer}} | {{users.users_current_title}}</span>

                                   <div  class="blue">
                                    <span style="font-weight: bold;">{{users.localationlist[0].countryname}} </span>
                                      <span ng-repeat="state in users.localationlist[0].state | filter: query | limitTo:1" style="color: #666;font-size:14px;">({{state.statename}}), 
                                         <span ng-repeat="city in state.city | filter: query | limitTo:2" style="font-weight: normal;" >{{city.cityname}} | </span><span class="blue"   ng-click="view_a_user_for_company( users.user_id, 'following_me' )"><i>more...</i></span>
                                      </span>
                                  </div>
                                   
                                </div>                 
                                <div class="col-md-12" style="min-height:180px;"> 
                                 <!--  <p hm-read-more
                                  hm-text=" {{users.users_bio}} " 
                                  hm-limit="200" 
                                  hm-more-text="read more" 
                                  hm-less-text="read less"
                                  hm-dots-class="dots"
                                  hm-link-class="links">
                                </p> -->

                                <div>{{users.users_bio | limitTo:250}}</div><span ng-if="users.users_bio != '' " style="color: #008cc9" ng-click="view_a_user_for_company( users.user_id, 'following_me' )">more</span>
                              </div>
                                                                              
                              <div class="panelBottom">
                                <div class="text-center" style="width:50%;float:left;">
                                <span >
                                  <button type="button" class="btn btn-success"  ng-click="view_a_user_for_company( users.user_id, 'following_me' )">
                                   <i class="fa fa-book"></i> Learn More </button> 
                                   </span>           
                                 </div>
                                <!--  <div class="botton_12 text-center">                     
                                  <button type="button" class="btn btn-primary "  ng-click="follow_a_user_for_company( users.user_id )">
                                    <i class="fa fa-user"> </i> Follow </button>                                                    
                                  </div> -->

                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div >
       <p style="margin:0px;">Sorry - we’ll keep marketing you. 
You don't currently have anymore followers but we will keep you posted!
</p>
<p style="margin:0px;">Hint - <a href="#!/user/profile//">Customize your profile to make a stronger impression! Add employment locations or industry experience to increase matches.</a></p>
    </div>
      
    </div>
    
    <div id="suggested" class="tab-pane fade">
    
                <!-- <div id="suggested{{users.users_id}}" class="col-md-4 col-sm-12 col-xs-12 profile_details"  ng-repeat="users in suggeted_user_for_company_list" >
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><i>{{users.users_firstname}} {{users.users_lastname}}</i></h4>
                            <div class="left col-xs-7">
                              <h2>{{users.jobfit_status}} {{users.employeefit_status}} {{users.location_status}} {{users.industry_status}} {{users.area_status}}</h2>
                              <p><strong>About: </strong> {{users.users_bio}} </p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"  aria-hidden="true"></i> Address: {{users.city_name}}, {{users.state_name}}, {{users.country_name}}</li>
                                <li><i class="fa fa-phone"></i> Phone #: {{users.users_phone}} </li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <img src="upload/{{users.users_profilepic}}" alt="" class="img-circle img-responsive">
                            </div>
                          </div>
                          <div class="col-xs-12 bottom_button text-center">
                            <div class="col-xs-12 col-sm-12 emphasis">
                            <span ng-if="company.viewing_company_id == '' ||  company.viewing_company_id == NULL ">
                              <button type="button" class="btn btn-success btn-xs"  ng-click="view_a_user_for_company( users.users_id )">
                               <i class="fa fa-comments-o"></i> View </button>
                             </span>
                              <button type="button" class="btn btn-primary " ng-click="follow_a_user_for_company( users.users_id )">
                                <i class="fa fa-user"> </i> Follow </button>
                           </div>
                          </div>
                        </div>
                      </div> -->

                      <div class="row">
                        <div id="suggested{{users.users_id}}" class="col-md-6"  ng-repeat="users in suggeted_user_for_company_list" >      
                          <div class="panel panel-default  panel--styled">
                               <div class="panel-body" style="padding:10px 0px!important">
                              <div class="col-md-12 panelTop" > 
                                <div class="col-md-4">  
                                  <img class="img-responsive" src="upload/{{users.users_profilepic}}" alt="" style="width:120px;"/>
                                </div>
                                <div class="col-md-8" style="height:130px;">  
                                  <h3>{{users.users_firstname}}  {{users.users_lastname}}</h3>                               
                                  <span ng-if="users.users_current_employer != '' || users.users_current_title != '' ">{{users.users_current_employer}} | {{users.users_current_title}}</span>

                                   <div  class="blue">
                                    <span style="font-weight: bold;">{{users.localationlist[0].countryname}} </span>
                                      <span ng-repeat="state in users.localationlist[0].state | filter: query | limitTo:1" style="color: #666;font-size:14px;">({{state.statename}}), 
                                         <span ng-repeat="city in state.city | filter: query | limitTo:2" style="font-weight: normal;" >{{city.cityname}} | </span><span class="blue"  ng-click="view_a_user_for_company( users.users_id, 'suggested' )"><i>more...</i></span>
                                      </span>
                                  </div>

                                </div>                 
                                <div class="col-md-12" style="min-height:180px;"> 
                                  <!-- <p hm-read-more
                                  hm-text=" {{users.users_bio}} " 
                                  hm-limit="200" 
                                  hm-more-text="read more" 
                                  hm-less-text="read less"
                                  hm-dots-class="dots"
                                  hm-link-class="links">
                                </p> -->

                                <div>{{users.users_bio | limitTo:250}}</div><span ng-if="users.users_bio != '' " style="color: #008cc9" ng-click="view_a_user_for_company( users.users_id, 'suggested' )">more</span>

                              </div>                                                
                              <div class="panelBottom">
                                <div class="text-center" style="width:50%;float:left;">
                                <span ng-if="users.viewing_company_id == '' ||  users.viewing_company_id == NULL ">
                                  <button type="button" class="btn btn-success"  ng-click="view_a_user_for_company( users.users_id, 'suggested' )">
                                   <i class="fa fa-book"></i> Learn More </button> 
                                   </span>           
                                 </div>
                               <div class="botton_12 text-center">                     
                                  <button type="button" class="btn btn-primary "  ng-click="follow_a_user_for_company( users.users_id )">
                                    <i class="fa fa-user"> </i> Follow </button>                                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
      
      
      <div>
       <p style="margin:0px;">Sorry - we’ll keep looking. Your desired criteria does not pop up as often as others, so we don't currently have any new matches for you. We will keep you posted!
      </p>
<p style="margin:0px;">Hint - <a href="#!/user/profile//">Customize your profile! Add employment locations and industry experience to increase matches </a></p>
    </div>  
    </div>
    
    

  </div>
</div>
  
  
  



  
  
 </div>
</section>



<div class="bottom_space"></div>

</div>

<script>

</script>