<div ng-include="'include/header_home.html'"></div>
 <script type="text/javascript">
$(window).scroll(function() {
if ($(".navbar").offset().top > 50) {
    $(".navbar-fixed-top").addClass("top-nav-collapse");
} else {
    $(".navbar-fixed-top").removeClass("top-nav-collapse");
}
});

// jQuery for page scrolling feature - requires jQuery Easing plugin
$(function() {
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
    });
});

// Closes the Responsive Menu on Menu Item Click
$('.navbar-collapse ul li a').click(function() {
    $('.navbar-toggle:visible').click();
});
</script>
<style type="text/css">
.navbar-toggle {
    padding: 0px 10px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  font-weight: normal !Important;
}
input {   
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  overflow: hidden;
}
.white
{
  color:#fff;
}
.blue_space
{
  background-color:#0CF;padding:30px 0px;
}
td
{
  font-size:16px;
  padding:5px;
  vertical-align:top;
}

.navbar-custom
{
  background-color:#FFF;color:#000!important;
}
.navbar-custom .nav li a {
    color: rgb(59, 77, 131)!important;
}

.navbar-custom .nav li a:hover {
    color: rgb(59, 77, 131)!important;
}
.blue_botton
{
  border-color:#0CF!important;text-transform:none;color:#0CF!important;
}
.blue_botton:hover
{
  border-color:#0CF!important;text-transform:none;color:#fff!important;
  
}

 </style> 
 <section>
   <div class="blue_space">
    <div class="row">
     <div class="col-lg-12 text-center">

       <h2 style="text-transform:none;" class="white">HaveItAll is like a dating app for employment.</h2>
       <p style="font-size:24px;" class="white">Follow companies that you'd like to work for. </p>
       <p style="font-size:24px;" class="white">We'll keep you connected to their relevant jobs, news and meet-ups.</p>
     </div>
   </div>
 </div>
</section>
 <section>
 <div style="background-color:#FFF;">
  <div class="row">
 <div class="col-lg-12 text-center">
    <div align="center"><img src="public/images/img7.jpg" class="img-responsive"></div>
    <duv style="padding-bottom_30px;">
    <div class="btn btn-default btn-lg blue_botton">Get connected - it's free</div>
    <div style="color:#0CF">No Resume . No Spam . The Right Connections</div><br/><br/><br/>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
  <section>
<div class="blue_space">
 <div class="row">
  <div class="container">
 <div class="col-lg-5 col-lg-offset-1">
 <div align="center"><h2 style="color:#FFF;">How it works</h2></div>
 
<table class="white">
<tr>
<td>1.</td>
<td>Answer a couple of questions.</td>
</tr>
<tr>
<td>2.</td>
<td> Review and follow companies that you'd like to work for.</td>
</tr>
<tr>
<td>3.</td>
<td> Gain one-point access to relevant jobs, news and events.</td>
</tr>
<tr>
<td colspan="2" align="center">&nbsp;
</td>
</tr>
<tr>
<td colspan="2" align="center">
 <a href="javascript:void(0);"><div class="btn btn-default btn-lg" style="text-transform:none;border-color:#fff; color:#fff;">
 See Company Matches</div></a>
</td>
</tr>

</table>
 </div>
 <div class="col-lg-5">
 <div align="center">
 <h2 class="white">
WHAT WE DO</h2>
</div>
 
<table class="white">
<tr>
<td>1.</td>
<td>Match you to employers using your criteria and experience.</td>
</tr>
<tr>
<td>2.</td>
<td> Promote you to hiring contacts within organizations you follow.</td>
</tr>
<tr>
<td>3.</td>
<td>  Post relevant opportunities to your personal job bulletin.</td>
</tr>
<tr>
<td>4.</td>
<td> Flip the model and put you in control - find the right next job!</td>
</tr>
<tr>
<td colspan="2" align="center">
 <a href="javascript:void(0);"><div class="btn btn-default btn-lg" style="text-transform:none;border-color:#fff; color:#fff;">
 Learn more</div></a>
</td>
</tr>

</table>
 </div>
 </div>
 <div class="clearfix"></div>
 </div>
 </div>
  </section>
    <section id="fit" class="container content-section text-left">
    
        <div class="row">
        
 <div class="col-lg-12 text-center">
<h2>Get Started!</h2>  

Think of HaveItAll like the dating app for employment. We match your criteria, vales, expertise & lifestyle with organizations. We'll even track the jobs you want within specific companies, notify you when they become vacant and privately promote you to decision makers.​<br/><br/><br/>
</div>
        <div id="aboutimp" class="col-lg-12"><h2 align="center">What types of jobs are of interest? </h2></div>
         <div class="col-lg-4">&nbsp;</div>
            <div class="col-lg-4">
            <div  ng-repeat="jobFit in jobFits">
              <div style="float:left;">
                <label class="switch">
                <input type="checkbox" value={{jobFit.typeId}} ng-click="toggleJobfit(jobFit.typeId)">
                <div class="slider round"></div>
                </label>
              </div>          
              <div class="text2">{{jobFit.typeName}}</div>
              <div class="clearfix"></div>
            </div>      
                
            <div class="clearfix"></div>
           <hr>
            <button class="btn btn-default" type="button" ng-disabled="isEmplyrfitSelected" ng-click="showJobFitList();">NEXT</button>
            <div class="bottom_space"></div>
            <div class="bottom_space"></div>
            </div>
         <div class="col-lg-4">&nbsp;</div>
         
        </div>
      
        <div class="row" style="padding-bottom:100px;" id="jobfit" ng-show="showjobfits">
        
        <div class="col-lg-12"><h2 align="center">What do you seek in an employer?</h2></div>
         <div class="col-lg-4">&nbsp;</div>
            <div class="col-lg-4">
      
            <div ng-repeat="employerFit in employerFits">
        <div style="float:left;">
          <label class="switch">
          <input type="checkbox"  value={{employerFit.typeId}} ng-click="toggleSelection(employerFit.typeId)" />
          <div class="slider round">
          </div>
          </label>
        </div>        
        <div class="text2">{{employerFit.typeName}}</div>
        <div class="clearfix"></div>
            </div>

      <div class="clearfix"></div>
           <hr>
       <!--
            <a href="/login"><button class="btn btn-default" type="button" ng-click="navlogin();">Employer near you</button></a>
      -->
      <button class="btn btn-default" type="button" ng-click="navIndustry();" ng-disabled="isJobfitSelected">   
               NEXT
            </button>
            <div class="bottom_space"></div>
        </div>
         <div class="col-lg-4">&nbsp;</div>
        </div>
        <div class="botto_space"></div>
         <div class="row" style="padding-bottom:100px;" id="industry" ng-show="showIndustry">
        
        <div class="col-lg-12"><h2 align="center" style="margin-bottom: 8px;">Your Industry(s) </h2></div>
        <div class="col-lg-12"><h2 align="center">What industries do you have experience in?</h2></div>
         <div class="col-lg-4">&nbsp;</div>
            <div class="col-lg-4">
            
            <div ng-repeat="industry in industrylist">
                <div style="float:left;">
                    <label class="switch">
                    <input type="checkbox" value={{industry.industry_id}} ng-click="toggleIndustry(industry.industry_id,industry.industry_name)">
                    <div class="slider round">
                    </div>
                    </label>
                </div>              
                <div class="text2">{{industry.industry_name}}</div>
                <div class="clearfix"></div>
            </div>
                       
            <div class="clearfix"></div>
           <hr>
            
            <button class="btn btn-default" type="button" ng-click="navSeniority();" ng-disabled="isIndustrySelected">  
               NEXT
            </button>
            <div class="bottom_space"></div>
        </div>
         <div class="col-lg-4">&nbsp;</div>
        </div>
        <div class="row" style="padding-bottom:100px;" id="seniority" ng-show="showSeniority">
        
        <div class="col-lg-12"><h2 align="center" style="margin-bottom: 8px;">Experience Level</h2></div>
        <div class="col-lg-12"><h2 align="center">Select your experience level by industry</h2></div>
         <div class="col-lg-3">&nbsp;</div>
            <div class="col-lg-7">
           
            <div ng-repeat="seniority in selectionIndustryname">
                <table width="100%">
                    <tr>
                        <td width="40%" class="blue"><b>{{seniority.name}}</b></td>

                        <td ng-repeat="level in levelList">
                           <label><input type="checkbox" class="checkboxsize" value="level.seniority_id" ng-click="toggleSeniority(seniority.industry_id,level.seniority_id)"> {{level.seniority_name}}</label>
                        </td>                                                
                    </tr>
                </table>                 
                <div class="clearfix"></div>
            </div>
                       
            <div class="clearfix"></div>
           <hr>
            
            <button class="btn btn-default" type="button" ng-click="navRegister();" ng-disabled="isSenioritySelected">  
               Find Employers
            </button>
             <div class="bottom_space"></div>
        </div>
         <div class="col-lg-4">&nbsp;</div>

        </div> 
               
        </section>
          
 <div ng-include="'include/footer_home.html'"></div>
   